*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font: Courier, sans-serif;
  background-image: url("oldJerma.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: white;
}

#root, #__next {
  isolation: isolate;
}

#mainContainer {
  height: 100%;
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
}

.dateBox {
  /*background-image: url("jerma.png");*/
  background-color: gray;
  background-size: cover;
  height: 100px;
  width: 100px;
  color: lime;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.textArea {
  margin-top: 10px;
  height: 66px;
  width: 100px;
}

.daysStyle .textArea{
  background-color: black;
  color: white;
}

.outOfMonth .textArea{
  background-color: darkgrey;
  color: white;
}

.calendarEntries > div {
  height: 110px;
  display: flex;
  align-items: center;
  width: auto;
}

.calendarEntries { 
  border:50px;
  /* background-image: url("jerma.png"); */
  height: 100%;
  background-position: center;
  background-repeat: round;
  background-size: cover;
  /* border: solid;
  border-color: white;
  border-radius: 5px; */
  padding: 25px;
  margin-bottom: 25px;
  width: 100%;
  /*display:table;*/
}

.daysStyle {
  color:darkgreen;
  background-color: black;
}

.outOfMonth {
  opacity: 0.8;
  color: darkgrey;
}

#todoListLink{
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  border: 1px solid pink;
  text-decoration: none;
  background-image: url("jermaSlay.png");
  background-repeat: round;
  background-size: cover;
  width: 150px;
  height: 50px;
}

.row1 {
  margin-top: 20px;
}

#monthName {
  margin-left: 200px;
}