*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font: Courier, sans-serif;
  background-image: url("jerma2.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: white;
}

#root, #__next {
  isolation: isolate;
}

.listCategories {
  background-color: black;
}

#main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#create-category {
  margin-bottom: 50px;
  padding: 0%;
}

.arrow-div{
  display: flex;
  justify-content: flex-end;
  height: 50%;
  align-items: flex-end;
}

.delete-div{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.normal{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

#calendarLink{
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  border: 1px solid pink;
  text-decoration: none;
  background-image: url("jermaSlay.png");
  background-repeat: round;
  background-size: cover;
  width: 150px;
  height: 50px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  border:50px;
  background-image: url("jerma.png");
  height: 100%;
  background-position: center;
  background-repeat: round;
  background-size: cover;
  border: solid;
  border-color: white;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 25px;
  width: 100%;
  /*display:table;*/
}
